{% extends "layout.html" %}

<title> Newest News home page</title>      
{% block content %}
 
<body>
      <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; background-color:bisque ">{{title }}</h1>
    <section class=" information-container">      
        {% for list in news %}
        <div class='card'>
            <div class='row'>
                <div class="col-md-4">
                    <div class='img-container'>            
                        <img src="{{list.article}}" alt="{{ list.title }} poster" class="img-responsive" >
                    </div>                                
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2><strong>{{list.url | truncate(200) }}...</strong></h2>                      
                        
                        <p>                            
                            <a href= "{{list.author}}" target="_blank" class='button'><span>Get more information</span> </a>
                            <br> <br>
                            Author:{{list.source}} <br>                        
                            <small>Published on:  {{list.description }}</small>
                            <br>    
                            <small>source: {{list.time_published}}</small>
                        </p>
                    </div>  
                </div>              
            </div>
        </div> 
        {%endfor%}
    </section> 
</body>
{% endblock %}