<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Newest News home page</title>
        {% endif %}
    </head>
    <body>
        <h1>{{title}}</h1>
        {% for list in news %}
        <ul>            
            <h2>{{list.url}}</h2>    
            <img src="{{list.article}}" alt="{{ list.title }} poster" class="img-responsive" >    
            <li>Author:{{list.source}} </li>
            <p>
                {{list.image | truncate(400)}}<a href={{list.author}}> Click here.</a> <br>
            </p>
            
            Published on:  {{list.description }}
            <br>    
            source: {{list.time_published}}
            
        
        </ul>
        {%endfor%}
    </body>
</html>


<!-- News Sources -->