<!DOCTYPE html>
<html>
    <head>
        <title> {{ title }}</title>           
    </head>
    <body>
        {% for list in news %}
        <ul> 
            
            
            <li>Author:{{list.author}}</li>
            
            <li>Article:{{list.article}}</li>
           
            <li> Url: {{list.url}}</li>
            
            <li>Image:{{list.description}}</li>
            <li>Published on:{{list.image}}</li>

            <li>Description:
            {{list.time_published}}</li>
        
        </ul>
        {% endfor %}
        
    </body>
</html>
<!-- 
news articles 
news image 
news descriptions
time created
include the url -->