{% extends "layout.html" %}

{% block content %}

    <title> {{ title }}</title>           
    </head>
    <body>
        

        {% for list in news %}
        <ul> 
           
            <h2>{{list.url}}</h2>    
            <img src="{{list.article}}" alt="{{ list.title }} poster" class="img-responsive" >    
            <li>Author:{{list.source}} </li>
            <p>
                {{list.image | truncate(400)}}<a href={{list.author}}> Click here.</a> <br>
            </p>
            
            Published on:  {{list.description }}
        
        </ul>
        {% endfor %}
        </div>
    </body>
{% endblock %}